<h2>Manage Business</h2>

<div class="jumbotron">
  <ul class="manage-options">
    <li>
    <div>
      <span class="glyphicon glyphicon-user"></span>
  	</div>
      <%= link_to 'Staff', staffs_path %>
    </li>
    <li>
    	<div>
      <span class="glyphicon glyphicon-flag"></span>
  		</div>
      <%= link_to 'Groups', bootcamps_path %>
    </li>
    <li>
    <div>
      <span class="glyphicon glyphicon-globe"></span>
  	</div>
      <%= link_to 'Locations', locations_path %>
    </li>
    <li>
    	<div>
      <span class="glyphicon glyphicon-list-alt"></span>
  		</div>
      <%= link_to 'Surveys', surveys_path %>
    </li>
  </ul>
</div>
