<% content_for :header do %>
	<h2><span>Dojo Class <%= @bootcamp.title %></span><hr> Bootcamp Survey</h2>
	<%= image_tag 'coding_dojo_black.png' %>
	<%= image_tag 'http://www.languageinsight.com/blog/wp-content/uploads/2013/01/St-Bernard.jpg', class: 'dojo_class' %>
	<div class="clear"></div>
<% end %>