<% content_for :header do %>
<div class="pull-left">
	<h2><span>Dojo Class <%= @bootcamp.title %></span><hr> Bootcamp Survey</h2>
</div>
<div class="pull-right">	
	<%= image_tag 'coding_dojo_black.png' %>
</div>
<div class="clear"></div>
<% end %>