<div class="row">	
	<div class="page-header page-header-custom">
		<h1><span class="dojo-class-name"><%= @bootcamp.title %></span> <small><%= @survey.name %></small></h1>
		<h3><%= @bootcamp.date.to_datetime.strftime("%B %d %Y") %></h3>
	</div>
</div>