/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'lastninja';
  src: font-url('lastninja.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.masthead-cust img{
	width:200px;
}
.masthead-cust h3{
	font-family: 'lastninja';
	display:inline-block;
	color:#4080fd;
}
.dojo-class-name {
	font-family: 'lastninja';
	color:white;
	  text-shadow:
   -1px -1px 0 red,  
    1px -1px 0 red,
    -1px 1px 0 red,
     1px 1px 0 red;
}