// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header span{
	color: red;
}
.header img{
	width:250px;
}
.clear{
	clear:both;
}
textarea{
	width:400px;
}
.dojo-logo{
  width:200px;
  position:static;
}