<div class="masthead masthead-cust">
        <%= image_tag 'coding_dojo_black.png' %><h3 class="muted">Business</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="<%= surveys_path %>">Surveys</a></li>
                <li><a href="<%= bootcamps_path %>">Bootcamps</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>